
/* Header section */
.overhead header {
  background: #00BA86;
  color: #fff;
  padding: 0px;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.1);
}

.overhead header h1 {
  margin: 0;
  font-size: 20px;
  padding-left: 120px;
}

.overhead header .motto {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 4px;
  color: black;
  padding-left: 120px;

}

.overhead header button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);          
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid  rgb(21, 141, 211);
  border-radius: 5px;
  color: #ff3333;
}
.overhead header button:hover {
  background: #cc0000;
}

/* Layout container */
.nav-container {
  display: flex;
}

/* Sidebar navigation */
nav {
  width: 100px;
  background: #00BA86;
  padding: 20px;
  

}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 15px 0;
}






/* Main content */
main {
  flex: 1;
  padding: 30px;
}

/* Profile card */
.profile-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  max-width: 500px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.profile-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #004080;
}

.profile-card h2 {
  margin: 0 0 10px;
  color: #004080;
}

.profile-card p {
  margin: 6px 0;
  font-size: 14px;
}

.profile-card strong {
  color: #004080;
}
